<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Soccer Teams App</title>
</head>
<body>
    <h1>Welcome to the Soccer Teams App!</h1>
    <img
        class="soccer-pic"
        src="https://t3.ftcdn.net/jpg/03/15/86/16/360_F_315861649_SEDPcW32mOIlAiDd1y370qzFaZMZlA53.jpg"
        alt="stadium with soccer ball in middle"
    />
    <P>An app for collecting your favorite soccer teams.</P>
    <a class="soccer-index-link" href="/soccer">
    <div class="index-link-text">Browse Teams</div>
    </a>
</body>
</html>