<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soccer Teams App</title>
</head>
<body>
    <h1>Welcome to the Soccer Teams App!</h1>
    <P>An app for collecting your favorite fruits.</P>

</body>
</html>