<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a Soccer Team</title>
  </head>
  <body>
    <h1>Add a new team!</h1>
    <form action = "/soccer" method="POST">
        <label for ="name">Name:</label>
        <input type="text" name="name" id="name" />
        <label for="wonTrophyThisSeason">Won a trophy this season?</label>
        <input type="checkbox" name="wonTrophyThisSeason" id="wonTrophyThisSeason" />
        <button type="submit">Add team</button>
        <a href="/soccer/">Back to Teams</a>

    </form>
  </body>
</html>
