<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= soccer.name %></title>
  </head>
  <body>
    <h1><%= soccer.name %></h1>
    <% if (soccer.wonTrophyThisSeason) { %>
        <p>This team won a trophy this season!</p>
    <% } else { %>
        <p>This team didn't win a trophy this season!</p>
        <% } %>
        <form action="/soccer/<%= soccer._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete <%= soccer.name %> </button>
        </form>

        <a href="/Soccer/">Back to Teams</a>
  </body>
</html>

